src/Ptsi.SGPSTools/Web References/ptsgps-spsdev01/SGPSwebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://localHost/wServiceSMS_SGPS" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://localHost/wServiceSMS_SGPS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localHost/wServiceSMS_SGPS">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="sendEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fromName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendEmailResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="conta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="largeAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dominioFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dominioTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailFrom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dominio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="initialDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="finalDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLogResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="sendEmailSoapIn">
    <part name="parameters" element="s0:sendEmail" />
  </message>
  <message name="sendEmailSoapOut">
    <part name="parameters" element="s0:sendEmailResponse" />
  </message>
  <message name="sendSMSSoapIn">
    <part name="parameters" element="s0:sendSMS" />
  </message>
  <message name="sendSMSSoapOut">
    <part name="parameters" element="s0:sendSMSResponse" />
  </message>
  <message name="getLogSoapIn">
    <part name="parameters" element="s0:getLog" />
  </message>
  <message name="getLogSoapOut">
    <part name="parameters" element="s0:getLogResponse" />
  </message>
  <message name="sendEmailHttpGetIn">
    <part name="fromName" type="s:string" />
    <part name="from" type="s:string" />
    <part name="to" type="s:string" />
    <part name="subject" type="s:string" />
    <part name="body" type="s:string" />
  </message>
  <message name="sendEmailHttpGetOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="sendSMSHttpGetIn">
    <part name="conta" type="s:string" />
    <part name="largeAccount" type="s:string" />
    <part name="dominioFrom" type="s:string" />
    <part name="dominioTo" type="s:string" />
    <part name="to" type="s:string" />
    <part name="msg" type="s:string" />
    <part name="company" type="s:string" />
    <part name="user" type="s:string" />
    <part name="emailFrom" type="s:string" />
  </message>
  <message name="sendSMSHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getLogHttpGetIn">
    <part name="dominio" type="s:string" />
    <part name="initialDate" type="s:string" />
    <part name="finalDate" type="s:string" />
  </message>
  <message name="getLogHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="sendEmailHttpPostIn">
    <part name="fromName" type="s:string" />
    <part name="from" type="s:string" />
    <part name="to" type="s:string" />
    <part name="subject" type="s:string" />
    <part name="body" type="s:string" />
  </message>
  <message name="sendEmailHttpPostOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="sendSMSHttpPostIn">
    <part name="conta" type="s:string" />
    <part name="largeAccount" type="s:string" />
    <part name="dominioFrom" type="s:string" />
    <part name="dominioTo" type="s:string" />
    <part name="to" type="s:string" />
    <part name="msg" type="s:string" />
    <part name="company" type="s:string" />
    <part name="user" type="s:string" />
    <part name="emailFrom" type="s:string" />
  </message>
  <message name="sendSMSHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="getLogHttpPostIn">
    <part name="dominio" type="s:string" />
    <part name="initialDate" type="s:string" />
    <part name="finalDate" type="s:string" />
  </message>
  <message name="getLogHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <portType name="Service1Soap">
    <operation name="sendEmail">
      <input message="s0:sendEmailSoapIn" />
      <output message="s0:sendEmailSoapOut" />
    </operation>
    <operation name="sendSMS">
      <input message="s0:sendSMSSoapIn" />
      <output message="s0:sendSMSSoapOut" />
    </operation>
    <operation name="getLog">
      <input message="s0:getLogSoapIn" />
      <output message="s0:getLogSoapOut" />
    </operation>
  </portType>
  <portType name="Service1HttpGet">
    <operation name="sendEmail">
      <input message="s0:sendEmailHttpGetIn" />
      <output message="s0:sendEmailHttpGetOut" />
    </operation>
    <operation name="sendSMS">
      <input message="s0:sendSMSHttpGetIn" />
      <output message="s0:sendSMSHttpGetOut" />
    </operation>
    <operation name="getLog">
      <input message="s0:getLogHttpGetIn" />
      <output message="s0:getLogHttpGetOut" />
    </operation>
  </portType>
  <portType name="Service1HttpPost">
    <operation name="sendEmail">
      <input message="s0:sendEmailHttpPostIn" />
      <output message="s0:sendEmailHttpPostOut" />
    </operation>
    <operation name="sendSMS">
      <input message="s0:sendSMSHttpPostIn" />
      <output message="s0:sendSMSHttpPostOut" />
    </operation>
    <operation name="getLog">
      <input message="s0:getLogHttpPostIn" />
      <output message="s0:getLogHttpPostOut" />
    </operation>
  </portType>
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="sendEmail">
      <soap:operation soapAction="http://localHost/wServiceSMS_SGPS/sendEmail" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sendSMS">
      <soap:operation soapAction="http://localHost/wServiceSMS_SGPS/sendSMS" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getLog">
      <soap:operation soapAction="http://localHost/wServiceSMS_SGPS/getLog" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpGet" type="s0:Service1HttpGet">
    <http:binding verb="GET" />
    <operation name="sendEmail">
      <http:operation location="/sendEmail" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="sendSMS">
      <http:operation location="/sendSMS" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getLog">
      <http:operation location="/getLog" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="Service1HttpPost" type="s0:Service1HttpPost">
    <http:binding verb="POST" />
    <operation name="sendEmail">
      <http:operation location="/sendEmail" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="sendSMS">
      <http:operation location="/sendSMS" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="getLog">
      <http:operation location="/getLog" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Service1">
    <documentation>A short description of the XML Web service.</documentation>
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://ptsgps-spsdev01/WSSMS/SGPSwebService.asmx" />
    </port>
    <port name="Service1HttpGet" binding="s0:Service1HttpGet">
      <http:address location="http://ptsgps-spsdev01/WSSMS/SGPSwebService.asmx" />
    </port>
    <port name="Service1HttpPost" binding="s0:Service1HttpPost">
      <http:address location="http://ptsgps-spsdev01/WSSMS/SGPSwebService.asmx" />
    </port>
  </service>
</definitions>